# Python
__pycache__/
*.py[cod]
*.pyo

# Env
.env
*.env

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/
.cache/
.coverage
pytest.ini


# MyPy
.mypy_cache/

# Allure
allure-report/
allure-results/

# OS
.DS_Store

# Logs
*.log

# linter
.pylintrc
.flake8
